<?php
/* 
 * Configuration for the Cron module.
 * 
 * $Id: $
 */

$config = array (

	'key' => '{{ ssp_cron_key.stdout }}',
	'allowed_tags' => array('daily', 'hourly', 'frequent'),
	'debug_message' => FALSE,
	'sendemail' => FALSE,

);

?>
