#/bin/bash

if [ -x /usr/sbin/apache2 ];
then

# stop apache2
/bin/systemctl stop apache2
else

# add temp https access
iptables -I INPUT -p tcp -m tcp --dport 443 -j ACCEPT;

#remove port forwarding
iptables -t nat -D PREROUTING -p tcp -m tcp --dport 443 -j REDIRECT --to-ports 5349

fi
