#/bin/bash

# add temp https access
iptables -I INPUT -p tcp -m tcp --dport 80 -j ACCEPT;
ip6tables -I INPUT -p tcp -m tcp --dport 80 -j ACCEPT;

# stop apache2
if [ -x /usr/sbin/apache2 ];
then
/bin/systemctl stop apache2
fi

#remove port forwarding
if [ -x /usr/bin/turnserver -a `hostname` != 'monitor' ];
then
iptables -t nat -D PREROUTING -p tcp -m tcp --dport 80 -j REDIRECT --to-ports 3478
ip6tables -t nat -D PREROUTING -p tcp -m tcp --dport 80 -j REDIRECT --to-ports 3478
fi
