# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
allow-hotplug eth0
iface eth0 inet static
       address {{ ipv4.address }}
       netmask {{ ipv4.netmask }} 
       gateway {{ ipv4.gateway }}

# This is a static configured IPv6 interface
iface eth0 inet6 static
       address {{ ipv6.address }}
       netmask {{ ipv6.netmask }}
       gateway {{ ipv6.gateway }}
