search {{ dns.search_domain }}
domain {{ dns.local_domain }}
nameserver {{ dns.ipv6_domain_name_server1 }}
nameserver {{ dns.ipv4_domain_name_server1 }}
nameserver {{ dns.ipv6_domain_name_server2 }}
nameserver {{ dns.ipv4_domain_name_server2 }}
